.player-stats-container {
   border: 3px solid green;
   width: 50vw;
   margin-top: 20px;
   margin-left: 20px;
   padding: 10px;
}

.game-container {
   border: 2px solid pink;
   margin-bottom: 20px;
   height: 70vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.form-div {
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.game-container,
.fieldset-div {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10px;

}

.fieldset-div {
   height: 100%;
   border: none;
   /* border: 2px solid blue; */
   
}


.question-container {
   /* border: 2px solid blue; */
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%; 
   height: 50vh; 
   overflow-y: scroll;
}

.questions {
   border: 3px solid black;
   background-image: linear-gradient(to bottom right, #9e8fb2, #3b46a5);
   border-radius: 20px;
   width: 500px;
   height: 300px;
   margin-bottom: 20px;
   padding: 20px;
   box-shadow: 1px 1px 1px black;
   display: flex;
   flex-direction: column;
   color: Black;
}

.questions label {
   border: 3px solid gray;
   background-color: white;
   height: 30px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   padding: 10px;
   margin: 2px 0 2px 0;
}

.questions label:hover {
   background-color:rgb(238, 168, 39);
   padding: 10px;
}

.play-again-button {
   background-color: rgb(218, 101, 97);
   height: 60px;
   border: none;
   border-radius: 15px;
   font-size: 27px;
   width: 70%;
   box-shadow: 2px 2px 5px gray;
   color: white;
   text-shadow: 1px 1px black;
}

.questions-outerbox {
   background-color: lightblue;
}

.questions-innerbox {
   background-color: white;
}

@media only screen and (max-width:675px) {
   .questions{
      width:300px;
   }

   .fieldset-div {
      width: 90%;
   } 
}
